@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }

body{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
ul{
  list-style-type: none;
  margin: 0;
}

a{
  color: #000000;
}
a:hover{
  text-decoration: none;
  color: #000000;
}
button{
  outline:none;
}

p{
    margin: 0;
}
@import 'libs/jquery.modal.min.css';
@import 'libs/slick.min.css';
@import 'libs/slick-theme.min.css';
@import 'libs/font-awesome.css';
@import 'blocks/header';
@import 'blocks/special-offer';
@import 'blocks/price';
@import 'blocks/consult';
@import 'blocks/subscriptions';
@import 'blocks/cosmetology';
@import 'blocks/record-online';
@import 'blocks/galarely';
@import 'blocks/about';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/button';
@import 'libs/swipebox';

.slide img{
  width :472px !important;
  height: 350px !important;
}