.modal{
	width: 290px;
	height: 223px;
	padding: 40px 50px;
	&__text{
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		text-align: center;
		text-transform: uppercase;
		color: #FF2350;
	}
	&__subtext{
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
		text-align: center;
		line-height: 20px;
		width: 191px;
		margin: 8px auto;
		color: #000000;
	}
	&__btn{
		display: block;
		width: 120px;
		padding: 10px 36px;
		border: 1px solid #FF2350;
		margin: auto;
	}
}