.subscriptions{
	&__title{
		width: 155px;
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    border-bottom: 2px solid #ff2350;
    padding-bottom: 8px;
    margin: 100px auto 40px auto;
	}
}